@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover {
    color: inherit !important;
}

.carousel-root {
	max-width: 600px;
}

.carousel .slide img {
  max-height: 600px;
  width: auto !important;
}

.carousel-status {
	display: none;
}

.control-next, .control-prev {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.slide {
	display: flex;
	align-items: center;
	justify-content: center;
}

.thumb {
	height: 80px;
	vertical-align: middle;
	position: relative;
}

.thumb img {
	position: absolute;
	bottom: 0px;
}

.nav-link, .nav-link:hover {
    color: #13653f;
}

.list-group-item.active {
	background-color: #C1E1C1;
    border-color: #C1E1C1;
    color: #212529;
}

.accordion-button:not(.collapsed) {
	color: #212529;
    background-color: #C1E1C1;
}

.accordion-button:not(.collapsed)::after {
	background-image: var(--bs-accordion-btn-icon);
}