.LogInPopUp a, .LogInPopUp p, .LogInPopUp label {
	color: rgb(33, 37, 41);
}

.LogInPopUp a:hover {
	color: #afc410 !important;
}

.CardButton {
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 50px;
    border: 1px solid #000;
    margin-top: 10px;
}

.CardButton:hover {
    color: #afc410 !important;
    border-color: #9aac0e;
}

.LogInPopUp {
	position: fixed;
	z-index: -9999;
	right: 8px;
	top: -500px;
	opacity: 0;
	transform: translateY(-10px);
	transition: opacity 0.2s ease-out, transform 0.2s ease-out;
	z-index: -9999;
}

.LogInPopUpWrapper {
	display: flex;
	justify-content: space-between;
	width: 550px;
	background-color: white;
	border-radius: 12px;
	padding: 32px;
	border: 4px solid rgb(52 211 153);
}

.Show {
  opacity: 1;
  transform: translateY(0);
  position: absolute;
  z-index: 20;
  top: 40px;
}

@media(max-width: 910px) {
	.LogInPopUp {
		right: -63px;
	}

	.LogInPopUpWrapper {
		flex-direction: column;
		width: 300px;
		gap: 20px;
	}

	.CardButton {
	    cursor: pointer;
	    padding: 6px 12px;
	    border-radius: 50px;
	    border: 1px solid #000;
	    margin-top: 10px;
	    font-size: 0.938rem;
	}
}